@import '@/styles/variables.scss';
@import '@/styles/globals.scss';

.search-results {
    &--offers {
        display: flex;
        flex-wrap: wrap;
        gap: 2.4rem;
        transition: align-items 0s 600ms;
        padding-top: 8rem;
        justify-content: center;


        @include mobile {
            padding-top: 4rem;
        }

        &.some-open {
            align-items: flex-start;
        }
    }

    &--reservation-hero {
        background-color: var(--color-global-white);
        padding: 2rem 7rem;
        border-radius: 0 0 $br $br;
        position: relative;
        transition: all 0.3s ease;


        @include mobile {
            padding: 2rem;
        }

        label {
            svg {
                path {
                    fill: var(--color-primary);
                }
            }
        }

        &-close {
            display: flex;
            gap: 1rem;
            align-items: center;

            .flex-container {
                svg {
                    min-width: 2.5rem;

                    path {
                        fill: var(--color-primary);
                    }
                }
            }

        }

        button {

            @include desktop {
                display: none;
            }
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%) rotate(90deg);
            transition: all 0.3s ease;
            background-color: var(--color-global-white);
            border-radius: 50%;
            padding: .5rem;
            border: 1px solid var(--color-global-stroke);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            svg {
                path {
                    stroke: var(--color-primary);
                }
            }
            &.is-open{
                transform: translate(-50%, 50%) rotate(270deg);
            }
        }
    }
}