@import '@/styles/globals.scss';

.fields-card {
    padding: 4.4rem 3.2rem;
    margin-bottom: 4rem;
    overflow: hidden;

    @include mobile {
        margin-bottom: 2.4rem;
    }

    &:not(.no-style) {
        background: var(--color-global-white);
        border-radius: $br;
        border: 1px solid var(--color-global-stroke);
    }

    &-header {
        @include flex-bet;
        transition: all 0.3s ease;

        h4 {
            font-weight: 800;
        }

        &.is-open {
            padding-bottom: 2.4rem;
            border-bottom: 1px solid var(--color-global-stroke);
        }
    }

    &-item {
        padding: 2.4rem 0;
        border-bottom: 1px solid var(--color-global-stroke);

        &:last-child {
            padding-bottom: 0;
            border-bottom: none;
        }

        &-header {
            @include flex-start;
            cursor: pointer;
            z-index: 10;
            position: relative;

            h4 span {
                color: var(--color-global-gray);
            }
        }

        &-index {
            font-size: 2.4rem;
            font-weight: 700;
            color: var(--color-primary);
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            background: rgba(var(--color-primary), 0.1);
            border: 1px solid var(--color-primary);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &-content {
        // Smooth expand/collapse
        max-height: 0;
        opacity: 0;
        transition: all 0.3s ease, opacity 0.2s ease;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.4rem;


        @include mobile {
            grid-template-columns: 1fr;
        }

        &.is-open {
            max-height: 2000px;
            opacity: 1;
            padding-top: 2.4rem;
        }



    }

    .toggle-arrow {
        transition: transform 0.25s ease;
        transform: rotate(90deg);
        cursor: pointer;
        margin-left: auto;

        &.is-open {
            transform: rotate(270deg);
        }
    }

    &-field {
        @include flex-column;
        gap: 0;
        position: relative;

        .field-error {
            position: absolute;
            bottom: 0;
            left: 0;
            color: var(--color-state-error);
            font-size: 1.2rem;
            transform: translateY(100%);
        }

        .required {
            color: var(--color-state-error);
        }

        &-checkbox {
            display: flex;
            justify-content: flex-start;
            gap: 1.2rem;
            cursor: pointer;

            span {
                display: flex;
                gap: .5rem;

                a {
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                        scale: 1;
                    }
                }
            }
        }
    }

    &-checkboxes {
        @include desktop {
            grid-column: span 2;
        }

        margin-top: -5rem;
        gap: 2rem;
        display: flex;
        flex-direction: column;

        &.has-title {
            padding-top: 2.4rem;
            border-top: 1px solid var(--color-global-stroke);
            margin-top: 0;
        }
    }

}