@import './variables.scss';

button,
a {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: var(--font-family-primary);
  color: var(--color-global-black);
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: flex;
  display: flex;
  align-items: center;
  gap: 0.8rem;

  &:hover:not(:disabled) {
    scale: 1.05;
  }

  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }

}

.btn {
  &-primary {
    background: var(--color, var(--color-primary));
    color: var(--color-global-white);
    border-radius: $br-sm;
    padding: 1.2rem 2.4rem;
    font-weight: 600;
    justify-content: center;
    transition: background 0.2s ease;
    z-index: 9;
    white-space: nowrap;

    &:hover:not(:disabled) {
      filter: saturate(1.2);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
      background: var(--color-global-stroke);
    }

    @include mobile {
      font-size: 1.4rem;
    }
  }

  &-transparent {
    border: 1px solid var(--color-global-stroke);
    border-radius: $br-md;
    padding: 1.2rem 2.4rem;
    justify-content: center;

    @include mobile {
      padding: .5rem 1rem;
      border-radius: $br-sm;

    }
  }

  &-secondary {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    border-radius: $br-sm;
    padding: 1.2rem 2.4rem;
    justify-content: center;
    font-weight: 600;

    @include mobile {
      padding: .5rem 1rem;

    }
  }

  &-download {
    color: var(--color-state-link);
    justify-content: center;
    text-decoration: underline;
    padding: 0 1.2rem;

  }
}

.buttons {
  @include  flex-end;
  margin-left: auto;
}