
// Mixins
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
  }
}

@mixin flex-bet{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

@mixin flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@mixin mobile {
  @media (max-width: 1023px) {
      @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
      @content;
  }
}

