

$br: 24px;
$br-md: 16px;
$br-sm: 8px;

$gray: #BFBFBF;
$light-bg: #FAFBFF;





//background colors
$background-color-warning: #FFFAEB;
$background-color-green: #ECFDF3;
$background-color-error: #FFF1F5;
$background-color-black: #000000B2;
$background-color-blue: #D7F4FF;




//border colors
$border-color-green: #ABEFC6;

