@import '@/styles/globals.scss';
.promotional-footer{
        padding: 4.8rem 0 7.2rem 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.6rem;
        align-items: stretch;

        &.with-slider {
            grid-template-columns: 3fr 2fr;
        }

        @include mobile {
            grid-template-columns: repeat(1, 1fr);
        }
    

    &--benefits {
        background: var(--color-primary);
        color: var(--color-global-white);
        padding: 6.4rem 5.4rem;
        border-radius: $br;

        @include mobile {
            padding: 4rem 2.4rem;
        }

        h3{
            font-weight: 400;
            padding-bottom: 2.4rem;
        }

        ul{
            list-style: none;
            gap: 1.6rem;
            display: flex;
            flex-direction: column;
        }

        li {
            position: relative;
            padding-left: 2.4rem;
            background-image: var(--success-check-image);
            background-repeat: no-repeat;
            background-position: left center;
            background-size: 1.6rem 1.6rem;
        }
        
    }

    &--slider {
        width: 100%;
        height: 100%;

        @include mobile {
            min-height: 25rem;
        }
    }
}