

.transactions-page{
    .personal-area--table thead th{
        &:first-child{
            width: 25%;
        }
        &:nth-child(2){
            width: 15%;
        }
        &:nth-child(3){
            width: 15%;
        }
        &:nth-child(4){
            width: 25%;
        }
        &:nth-child(5){
            width: 12%;
        }
        &:last-child{
            width: 8%;
        }
    }
}   