@import '@/styles/mixins.scss';

.footer{
    border-top: 1px solid var(--color-global-stroke);
    margin-top: auto;
    &--wrapper{
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding: 2.4rem 0;

        @include mobile {
            flex-direction: column;
            align-items: center;
            gap: 2.4rem;
        }
    }
    &--left{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1.6rem;

        @include mobile {
            align-items: center;
        }

        img{
            width: 14rem;
            height: auto;
        }
    }
    &--links{
        display: flex;
        align-items: center;
        gap: 1.6rem;

        a{
            text-decoration: underline;

            &:hover{
                text-decoration: none;
            }
        }
    }
}