@import '@/styles/globals.scss';

.hero {
    position: relative;
    width: 100%;

    .image-container {
        padding-bottom: 50%;
        
        @include desktop {
            padding-bottom: 25vh;
            min-height: 40rem;
        }
    }

    &--content {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: var(--color-global-white);
        width: max-content;
        overflow: hidden;

        

        h1 {
            font-size: 6.4rem;
            font-weight: 500;
            color: var(--color-global-white);

            @include mobile {
                font-size: 3rem;
            }

            span {
                display: block;
                color: var(--color-global-glow);
            }
        }
        &-with-bg {
            padding: 2.4rem 0;
            border-radius: $br;
            width: 80%;

            h1{
                font-weight: 800;
            }
        }

        &-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: var(--var-bg);
            z-index: -1;
            opacity: 0.8;
        }

    }
}